<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="gradient-background"></div>
    <div class="container">
      <h1 class="title">Session Report</h1>
      <div class="report-container">
        <p>
          Host Name :
          <span class="name"><%= data.hostName %></span>
        </p>
        <p>
          Session Name :
          <span class="name"><%= data.sessionName %></span>
        </p>
        <table class="table">
          <tr>
            <th class="table-data">Name</th>
            <th>Emotion</th>
          </tr>
          <% for(user of data.users) { %>
          <tr class="table-row">
            <td class="table-data"><%= user.name %></td>
            <td><%= user.expression %></td>
          </tr>
          <% } %>
          <tr class="rating">
            <td>Overall Review</td>
            <td><%= data.overallRating %></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
